<header
  class="w-full h-96 flex flex-col mx-auto bg-stone-200 justify-between relative"
>
  <!-- Logo -->
  <div
    class="logo-container pt-4 pl-4 lg:bg-white w-full lg:pb-4 lg:pl-0 xl:h-full xl:absolute xl:w-fit xl:pr-8"
  >
    <a href="#" class="logo text-3xl text-gray-800">
      <span class="font-light">e</span><span class="font-regular">dor</span
      ><span class="font-medium"
        >i<span class="border-b-2 border-gray-800">a</span></span
      ><span class="font-semibold">tir</span><span class="font-bold">i</span>
    </a>
  </div>
  <!--  -->

  <p
    class="text-3xl font-bold px-4 pt-4 bg-white lg:px-8 lg:bg-inherit md:text-4xl md:pb-4 xl:absolute xl:bottom-10 xl:bg-transparent"
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident animi
    voluptates ipsum.
  </p>
</header>
<!-- 
<header class="w-full h-96 flex flex-col gap-4">
  <div
    class="w-full mx-auto h-64 bg-stone-200 p-4 lg:absolute lg:left-0 lg:right-0"
  >

    <div
      class="logo-container lg:h-full lg:bg-white lg:w-fit lg:absolute top-0 left-0 lg:pr-10"
    >
      <a href="#" class="logo text-3xl text-gray-800">
        <span class="font-light">e</span><span class="font-regular">dor</span
        ><span class="font-medium"
          >i<span class="border-b-2 border-gray-800">a</span></span
        ><span class="font-semibold">tir</span><span class="font-bold">i</span>
      </a>
    </div>
  </div>
  <div class="text-3xl font-bold px-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident animi
    voluptates ipsum.
  </div>
</header> -->
