<header
  class="w-full h-96 flex flex-col mx-auto bg-stone-200 justify-between relative"
>
  <!-- Logo -->
  <div
    class="logo-container pt-4 pl-4 md:bg-white w-full md:pb-4 md:pl-0 lg:h-full lg:absolute lg:w-fit lg:pr-8 z-10"
  >
    <a href="#" class="logo text-3xl xl:text-4xl text-black">
      <span class="font-light">e</span><span class="font-regular">dor</span
      ><span class="font-medium"
        >i<span class="border-b-2 border-gray-800">a</span></span
      ><span class="font-semibold">tir</span><span class="font-bold">i</span>
    </a>
  </div>
  <!--  -->

  <p
    class="text-3xl lg:text-5xl font-bold px-4 pt-4 bg-white md:px-8 md:bg-transparent md:text-4xl md:pb-4 lg:absolute lg:bottom-10 lg:bg-transparent lg:pl-0 z-10"
  >
    Developing web experiences and having fun in the process
  </p>
</header>
<!-- 
<header class="w-full h-96 flex flex-col gap-4">
  <div
    class="w-full mx-auto h-64 bg-stone-200 p-4 md:absolute md:left-0 md:right-0"
  >

    <div
      class="logo-container md:h-full md:bg-white md:w-fit md:absolute top-0 left-0 md:pr-10"
    >
      <a href="#" class="logo text-xl text-gray-800">
        <span class="font-light">e</span><span class="font-regular">dor</span
        ><span class="font-medium"
          >i<span class="border-b-2 border-gray-800">a</span></span
        ><span class="font-semibold">tir</span><span class="font-bold">i</span>
      </a>
    </div>
  </div>
  <div class="text-xl font-bold px-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident animi
    voluptates ipsum.
  </div>
</header> -->
