header {
  background-image: url("../../../assets/images/milad-fakurian-JrMz6hVQeu4-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header:before {
  content: "";
  position: absolute;
  inset: 0;
  background: #fff;
  opacity: 0.7;
}

@media (prefers-color-scheme: dark) {
  header:before {
    background: rgb(31 41 55);
    opacity: 0.5;
  }
}
