<header class="my-6 flex flex-col justify-center md:my-10">
  <h1
    class="text-center text-2xl font-bold uppercase text-gray-700 dark:text-white lg:text-3xl"
  >
    Selected Projects
  </h1>
  <fa-icon
    [icon]="faArrowDown"
    class="mx-auto my-3 text-gray-700 dark:text-white"
  ></fa-icon>
</header>

<div
  class="flex w-full flex-col gap-10 dark:bg-gray-800 md:gap-12 lg:gap-20 xl:gap-44"
>
  <!--  -->

  <div
    *ngFor="let project of projects; index as i"
    class="relative lg:flex lg:flex-row-reverse"
  >
    <div
      data-aos="zoom-out"
      data-aos-duration="1000"
      data-aos-once="true"
      class="w-full lg:w-2/3 xl:w-3/4 p-6 md:p-10 lg:p-16 xl:p-20 dark:bg-gray-700 {{
        project.color
      }} "
    >
      <div
        data-aos="zoom-in"
        data-aos-delay="500"
        data-aos-duration="1000"
        data-aos-once="true"
        class="mockup-window h-full w-full rounded-none rounded-t border bg-base-300 shadow-lg xl:shadow-2xl"
      >
        <figure class="flex justify-center bg-base-200 shadow-md">
          <img
            src="{{ project.desktopImage }}"
            alt="{project.title}"
            class="object-cover"
          />
        </figure>
      </div>
    </div>

    <div
      data-aos="fade-right"
      data-aos-delay="500"
      data-aos-duration="1000"
      data-aos-once="true"
      id="card-content"
      class="flex flex-col gap-2 p-6 leading-relaxed lg:w-1/3 lg:justify-center lg:gap-3 lg:pl-0 xl:w-1/4"
    >
      <h3 class="text-2xl font-bold text-gray-700 dark:text-white lg:text-3xl">
        {{ project.title }}
      </h3>
      <p class="text-lg font-bold text-gray-500 dark:text-gray-50 lg:text-xl">
        {{ project.description }}
      </p>
      <button
        class="view sm:text-lg lg:text-xl font-bold relative w-fit after:absolute after:inset-0 after:transform after:-scale-y-50 after:transition-transform after:ease-linear after:duration-300 z-50 after:-z-10 dark:text-black after:{{
          project.color
        }}"
        (click)="onClickView(i)"
      >
        View Project
      </button>
    </div>

    <!-- <app-project *ngIf="project.toggle" class="absolute"></app-project> -->

    <!-- Modal -->
    <div
      [@toggleModal]="project.toggle ? 'show' : 'hide'"
      class=" w-80 sm:w-96 md:w-1/2 h-44 md:h-64 xl:h-80 space-x-4 mx-auto flex items-center z-50 justify-center absolute bottom-0 left-1/2 transform -translate-x-1/2  rounded shadow-lg {{
        project.color
      }}"
    >
      <a
        id="live_page"
        href="{{ project.live_url }}"
        target="_blank"
        class="rounded p-3 outline outline-white transition-outline duration-300 hover:outline-black dark:hover:outline-gray-800"
        ><img
          class="w-10 lg:w-16"
          src="../../assets/images/live-svgrepo-com.svg"
          alt=""
      /></a>
      <span
        class="website absolute bottom-2 text-lg font-bold uppercase dark:text-gray-800 md:bottom-8 xl:bottom-16"
        >visit website</span
      >

      <a
        id="github_link"
        href="{{ project.github_url }}"
        target="_blank"
        class="rounded p-3 outline outline-white transition-outline duration-300 hover:outline-black dark:hover:outline-gray-800"
        ><img
          class="w-10 lg:w-16"
          src="../../assets/images/github-svgrepo-com.svg"
          alt=""
      /></a>
      <span
        class="github absolute bottom-2 text-lg font-bold uppercase dark:text-gray-800 md:bottom-8 xl:bottom-16"
        >see code</span
      >

      <span
        (click)="closeDialog(i)"
        id="close"
        class="absolute top-0 right-2 cursor-pointer text-xl font-bold transition-scale duration-300 hover:scale-125"
        >x</span
      >
    </div>

    <div
      *ngIf="project.toggle"
      [@toggleModalBd]="project.toggle ? 'show' : 'hide'"
      (click)="closeDialog(i)"
      class="fixed inset-0 bg-black opacity-25 dark:bg-gray-900"
    ></div>
  </div>

  <!-- About -->
  <div id="about" class="relative flex flex-col-reverse lg:flex-row-reverse">
    <div
      data-aos="zoom-in"
      data-aos-duration="1000"
      data-aos-once="true"
      class="grid h-fit w-full place-content-center bg-black p-6 sm:h-72 md:px-14 lg:w-2/3 lg:p-16 xl:h-[375.175px] xl:w-3/4"
    >
      <h3 class="mb-6 text-2xl font-bold text-white md:hidden lg:text-3xl">
        About Me
      </h3>
      <p class="mx-auto w-full text-justify font-bold leading-7 text-white">
        I'm Edori, a web developer and tech aficionado who is passionate about
        creating websites and web apps that conveys intent through beautiful
        typography, concise design patterns and efficient development practices.
        I am capable in the use of a number of web development tools including
        Javascript, Angular, HTML5, CSS, Typescript, NodeJs and more.
      </p>
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <div
      data-aos="fade-right"
      data-aos-duration="1000"
      data-aos-once="true"
      id="card-content"
      class="hidden flex-col gap-2 p-6 leading-relaxed md:flex lg:w-1/3 lg:justify-center lg:gap-3 lg:pl-0 xl:w-1/4"
    >
      <h3
        class="text-2xl font-extrabold text-gray-700 dark:text-white lg:text-3xl"
      >
        About Me
      </h3>
    </div>
  </div>

  <!-- Tech  -->
  <div class="relative flex flex-col-reverse lg:flex-row-reverse">
    <div
      data-aos="zoom-in"
      data-aos-duration="1000"
      data-aos-once="true"
      class="grid h-56 w-full bg-stone-300 p-6 text-black dark:bg-gray-700 dark:text-white sm:h-72 md:px-14 lg:w-2/3 lg:p-16 xl:h-[375.175px] xl:w-3/4"
    >
      <h3 class="mb-6 text-2xl font-bold md:hidden lg:text-3xl">
        Technologies
      </h3>

      <!--  -->
      <div class="grid grid-cols-5 gap-4 sm:gap-8 md:grid-cols-5 md:gap-14">
        <figure
          data-aos="zoom-in"
          data-aos-duration="1000"
          data-aos-once="true"
          data-aos-delay="100"
          class="logo-container"
        >
          <img
            class="logo"
            src="../../assets/images/icons/html-svgrepo-com.svg"
            alt="html logo"
          />
          <p>HTML5</p>
        </figure>
        <!--  -->
        <figure
          data-aos="zoom-in"
          data-aos-duration="1000"
          data-aos-once="true"
          data-aos-delay="200"
          class="logo-container"
        >
          <img
            class="logo"
            src="../../assets/images/icons/css-3-svgrepo-com.svg"
            alt="css logo"
          />
          <p>CSS</p>
        </figure>
        <!--  -->
        <figure
          data-aos="zoom-in"
          data-aos-duration="1000"
          data-aos-once="true"
          data-aos-delay="300"
          class="logo-container"
        >
          <img
            class="logo"
            src="../../assets/images/icons/js-svgrepo-com.svg"
            alt="Javascript logo"
          />
          <p>JavaScript</p>
        </figure>
        <!--  -->
        <figure
          data-aos="zoom-in"
          data-aos-duration="1000"
          data-aos-once="true"
          data-aos-delay="400"
          class="logo-container"
        >
          <img
            class="logo"
            src="../../assets/images/icons/angular-svgrepo-com.svg"
            alt="angular logo"
          />
          <p>Angular</p>
        </figure>
        <!--  -->
        <figure
          data-aos="zoom-in"
          data-aos-duration="1000"
          data-aos-once="true"
          data-aos-delay="500"
          class="logo-container"
        >
          <img
            class="logo"
            src="../../assets/images/icons/tailwind-css-svgrepo-com.svg"
            alt="tailwindCSS logo"
          />
          <p>TailwindCss</p>
        </figure>
        <!--  -->
        <figure
          data-aos="zoom-in"
          data-aos-duration="1000"
          data-aos-once="true"
          data-aos-delay="600"
          class="logo-container"
        >
          <img
            class="logo"
            src="../../assets/images/icons/nodejs-svgrepo-com.svg"
            alt="Node js logo"
          />
          <p>NodeJs</p>
        </figure>
        <!--  -->
        <figure
          data-aos="zoom-in"
          data-aos-duration="1000"
          data-aos-once="true"
          data-aos-delay="700"
          class="logo-container"
        >
          <img
            class="logo"
            src="../../assets/images/icons/git-svgrepo-com.svg"
            alt="git logo"
          />
          <p>Git</p>
        </figure>
        <!--  -->
        <figure
          data-aos="zoom-in"
          data-aos-duration="1000"
          data-aos-once="true"
          data-aos-delay="800"
          class="logo-container"
        >
          <img
            class="logo"
            src="../../assets/images/icons/mongodb-svgrepo-com.svg"
            alt="mongoDB logo"
          />
          <p>MongoDB</p>
        </figure>
        <!--  -->
        <figure
          data-aos="zoom-in"
          data-aos-duration="1000"
          data-aos-once="true"
          data-aos-delay="900"
          class="logo-container"
        >
          <img
            class="logo"
            src="../../assets/images/icons/react-svgrepo-com.svg"
            alt="react logo"
          />
          <p>ReactJS</p>
        </figure>
        <!--  -->
        <figure
          data-aos="zoom-in"
          data-aos-duration="1000"
          data-aos-once="true"
          data-aos-delay="1000"
          class="logo-container"
        >
          <img
            class="logo"
            src="../../assets/images/icons/typescript-svgrepo-com.svg"
            alt="typescript logo"
          />
          <p>TypeScript</p>
        </figure>
      </div>
    </div>

    <div
      data-aos="fade-right"
      data-aos-duration="1000"
      data-aos-once="true"
      id="card-content"
      class="hidden flex-col gap-2 p-6 leading-relaxed md:flex lg:w-1/3 lg:justify-center lg:gap-3 lg:pl-0 xl:w-1/4"
    >
      <h3
        class="text-2xl font-extrabold text-gray-700 dark:text-white lg:text-3xl"
      >
        Technologies
      </h3>
    </div>
  </div>
</div>
