<div class="flex flex-col gap-6">
  <fa-icon [icon]="faArrowDown" class="mx-auto"></fa-icon>
  <div>
    <div class="h-96 w-full bg-slate-500 p-6">
      <div
        class="border mockup-window bg-base-300 w-full h-full rounded-none rounded-t"
      >
        <div class="flex justify-center bg-base-200 h-full">
          <img
            src="../../assets//RestCountries-desktop.png"
            alt=""
            class="object-cover"
          />
        </div>
      </div>
    </div>

    <div id="card-content" class="flex flex-col p-6 gap-2">
      <h3 class="text-2xl font-bold text-gray-700">Rest Countries</h3>
      <p class="text-lg font-bold text-gray-500">
        Discover interesting demographic facts about every single country
      </p>
      <a href="#">View Project</a>
    </div>
  </div>
</div>
