.view:hover:after {
  height: 100%;
  transform: scaleY(100%);
}

.website,
.github {
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

#live_page:hover + .website,
#github_link:hover + .github {
  opacity: 1;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 97%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 70px;
  height: 70px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 100px;
  height: 100px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 25%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 100px;
  height: 100px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@media (max-width: 640px) {
  .circles li:nth-child(1) {
    width: 25px;
    height: 25px;
  }
  .circles li:nth-child(2) {
    width: 10px;
    height: 10px;
  }
  .circles li:nth-child(3) {
    width: 10px;
    height: 10px;
  }
  .circles li:nth-child(4) {
    width: 30px;
    height: 30px;
  }
  .circles li:nth-child(5) {
    width: 10px;
    height: 10px;
  }
  .circles li:nth-child(6) {
    width: 35px;
    height: 35px;
  }
  .circles li:nth-child(7) {
    width: 50px;
    height: 50px;
  }
  .circles li:nth-child(8) {
    width: 12.5px;
    height: 12.5px;
  }
  .circles li:nth-child(9) {
    width: 7.5px;
    height: 7.5px;
  }
  .circles li:nth-child(10) {
    width: 50px;
    height: 50px;
  }
}
/* 

.view:hover:after {
  height: 100%;
  transform: scaleY(100%);
}

.website,
.github {
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

#live_page:hover + .website,
#github_link:hover + .github {
  opacity: 1;
}

.area {
  width: 100%;
  height: 100%;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: fit-content;
  height: auto;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 30%;

  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 25%;

  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;

  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;

  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;

  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;

  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;

  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 85%;

  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 45%;

  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 95%;

  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
} */
